---
interface Props {
	title: string;
}
// Importando as novas fontes Retro/Tech
import '@fontsource/vt323';
import '@fontsource/space-mono';
import '../styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A central de inteligência do torcedor do São Paulo FC." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/escudo-spfc.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<!-- Aplicando a fonte Space Mono como padrão e VT323 para onde quisermos destaque -->
	<body class="bg-black text-white font-['Space_Mono'] antialiased selection:bg-spfc-red selection:text-white">
		<!-- Background sutil estilo CRT/Terminal -->
		<div class="fixed inset-0 bg-[#050505] -z-10"></div>
		
		<main class="container mx-auto px-4 sm:px-6 lg:px-8 min-h-screen relative">
			<slot />
		</main>
	</body>
</html>
